<!DOCTYPE html>
<html class="dark">
<head>
  <meta charset="UTF-8">
  <title>DkBlog</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'blog/style.css' %}">
  <style>
    .pad {
        padding: 20px;
    }

    .terminal {
        background-color: black;
        color: rgb(0, 255, 0);
        font-family: 'Courier New', Courier, monospace;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .prompt {
        display: block;
        margin: 10px 0;
    }
</style>
  <!-- DataTables CSS -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<!--   <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> -->

  <!-- jQuery -->
  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>

  <!-- DataTables JS -->
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
  <div id="topbar">
    <div class="content">
      <div id="icons">
        <a href="#"><img src="{% static 'blog/images/home.gif' %}" alt="Home"></a>
        <a href="#"><img src="{% static 'blog/images/contact.gif' %}" alt="Contact"></a>
        <a href="#"><img src="{% static 'blog/images/sitemap.gif' %}" alt="Sitemap"></a>
      </div>
      <div class="url"><a href="#">www.your-blog.com</a></div>
    </div>
  </div>
  <div id="top">
    <div class="content">
      <div id="menu">
        <ul>
          <li><a class="current" href="#"><span>HOME</span></a></li>
          <li><a href="#"><span>ARTICLES</span></a></li>
        </ul>
      </div>
      <h1><a href="#">Data EarthQuake Chile Blog</a></h1>
      <h2>Simple Resume of Earthquakes</h2>
    </div>
  </div>
  <div class="content">
    <div id="main">
      <div class="right_side">
        <div class="pad">
          <h3>Thank you for visiting!</h3>
          <p>Data data data <br>
            <a href="#">Read more...</a>
          <div class="cleanslate w24tz-current-time w24tz-small"
            style="display: inline-block !important; visibility: hidden !important; min-width:200px !important; min-height:100px !important;">
            <p><a href="//24timezones.com/Santiago/time" style="text-decoration: none" class="clock24"
                id="tz24-1717177098-c1232-eyJob3VydHlwZSI6IjI0Iiwic2hvd2RhdGUiOiIxIiwic2hvd3NlY29uZHMiOiIwIiwiY29udGFpbmVyX2lkIjoiY2xvY2tfYmxvY2tfY2I2NjVhMGIwYTVmM2Y1IiwidHlwZSI6ImRiIiwibGFuZyI6ImVuIn0="
                title="timezone - Santiago" target="_blank">Santiago time</a></p>
            <div id="clock_block_cb665a0b0a5f3f5"></div>
          </div>
          <script type="text/javascript" src="//w.24timezones.com/l.js" async></script>
          </p>
          <h3>Last Articles:</h3>
          <ul>
            <li><a href="#">Ajax-Tutorials.com</a></li>
            <li><a href="#">Csszengarden.com dead?</a></li>
          </ul>
          <h3>Popular Articles:</h3>
          <ul>
            <li><a href="#">LOST - John Locke - Speed...</a></li>
            <li><a href="#">Painting of the Mona Lisa in...</a></li>
          </ul>
          <a href="#"><img src="{% static 'blog/images/rss.jpg' %}" alt="RSS Feed"></a>
        </div>
      </div>
      <div class="right_side">
        <div class="pad">
          <h3>Categories:</h3>
          <ul>
            <li><a class="current" href="#">Home</a></li>
            <li><a href="#">Alertas</a></li>
            <li><a href="#">Terremotos</a></li>
          </ul>
          <h3>Directory</h3>
          <p>Links4se.com is a seo-friendly and human-edited general directory.</p>
        </div>
      </div>
      <div id="left_side">
        <div class="intro">
          <div class="pad">Daily summary of seismic movements in national territory, updated style blog <br>
            <a href="#">Download</a>&nbsp; | &nbsp;<a href="#">Read more...</a>
          </div>
        </div>
        <div class="mpart">
          <h2>Resumen del {{ fecha }}</h2>
          <h3>Publicado el {{ fecha }} en <a href="#">Sismología Chile</a></h3>
          <p>Un sitio web similar.</p>
          <div class="card" style="width: 18rem;">
            <!-- Contenido de la tarjeta -->
          </div>
          <div class="intro">
            <div class="pad">
              <div class="terminal">
                <span class="prompt">user@machine:~$</span>
            </div>
              
            </div>
          </div>
        </div>
        

<!--           <p>Aditional info:</p>
          <blockquote>
            <p>Posted date: 15, Mayo, 2024 - 23:45 </p>
          </blockquote> -->
          <!--           <div class="date"><a href="#">Comments (5)</a></div> -->
    <div id="footer">
      <div class="right">&copy; Copyright 2023, Your Website - Design: <a href="">Free
          Css Templates</a></div>
      <a href="#">Home</a> - <a href="http://validator.w3.org/check?uri=referer" title="Validate">XHTML</a> - <a
        href="http://jigsaw.w3.org/css-validator/check/referer" title="Validate">CSS</a>
    </div>
  </div>
</body>
</html>