<!DOCTYPE html>
<html class="dark">

<head>
  <meta charset="UTF-8">
  <title>Data EarthQuake</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'blog/style.css' %}">
  <style>
    .pad {
      padding: 20px;
    }

    .terminal {
      background-color: black;
      color: rgb(0, 255, 0);
      font-family: 'Courier New', Courier, monospace;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      overflow-x: auto;
    }

    .prompt {
      display: block;
      margin: 10px 0;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    table,
    th,
    td {
      border: 1px solid green;
    }

    th,
    td {
      padding: 8px;
      text-align: left;
    }
  </style>
  <!-- DataTables CSS -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
  <!--   <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> -->

  <!-- jQuery -->
  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>

  <!-- DataTables JS -->
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
  <div id="topbar">
    <div class="content">
      <div id="icons">
        <a href="#"><img src="{% static 'blog/images/home.gif' %}" alt="Home"></a>
        <a href="#"><img src="{% static 'blog/images/contact.gif' %}" alt="Contact"></a>
        <a href="#"><img src="{% static 'blog/images/sitemap.gif' %}" alt="Sitemap"></a>
      </div>
      <div class="url"><a href="#">www.your-blog.com</a></div>
    </div>
  </div>
  <div id="top">
    <div class="content">
      <div id="menu">
        <ul>
          <li><a class="current" href="#"><span>HOME</span></a></li>
          <li><a href="#"><span>ARTICLES</span></a></li>
        </ul>
      </div>
      <h1><a href="#">Data EarthQuake Chile Blog</a></h1>
      <h2>Simple Resume of Earthquakes</h2>
    </div>
  </div>
  <div class="content">
    <div id="main">
      <div class="right_side">
        <div class="pad">
          <h3>Thank you for visiting!</h3>
          <p>Data data data <br>
            <a href="#">Read more...</a>
          <div class="cleanslate w24tz-current-time w24tz-small"
            style="display: inline-block !important; visibility: hidden !important; min-width:200px !important; min-height:100px !important;">
            <p><a href="//24timezones.com/Santiago/time" style="text-decoration: none" class="clock24"
                id="tz24-1717820043-c1232-eyJob3VydHlwZSI6MTIsInNob3dkYXRlIjoiMSIsInNob3dzZWNvbmRzIjoiMSIsImNvbnRhaW5lcl9pZCI6ImNsb2NrX2Jsb2NrX2NiNjY2M2RhOGJiOTRmMCIsInR5cGUiOiJkYiIsImxhbmciOiJlbiJ9"
                title="Santiago current time" target="_blank">Santiago time</a></p>
            <div id="clock_block_cb6663da8bb94f0"></div>
          </div>
          <script type="text/javascript" src="//w.24timezones.com/l.js" async></script>
          </p>
          <h3>Last Articles:</h3>
          <div class="cleanslate w24tz-current-time w24tz-small"
            style="display: inline-block !important; visibility: hidden !important; min-width:200px !important; min-height:100px !important;">
            <p><a href="//24timezones.com/time-zone/utc" style="text-decoration: none" class="clock24"
                id="tz24-1717819962-tzutc-eyJob3VydHlwZSI6MTIsInNob3dkYXRlIjoiMSIsInNob3dzZWNvbmRzIjoiMSIsImNvbnRhaW5lcl9pZCI6ImNsb2NrX2Jsb2NrX2NiNjY2M2RhM2EwMmE4MSIsInR5cGUiOiJkYiIsImxhbmciOiJlbiJ9"
                title="UTC time now" target="_blank">UTC time</a></p>
            <div id="clock_block_cb6663da3a02a81"></div>
          </div>
          <script type="text/javascript" src="//w.24timezones.com/l.js" async></script>
          <h3>Popular Articles:</h3>
          <ul>
            <li><a href="#">Weather</a></li>
            <li><a href="#">Api</a></li>
          </ul>
          <a href="#"><img src="{% static 'blog/images/rss.jpg' %}" alt="RSS Feed"></a>
        </div>
      </div>
      <div class="right_side">
        <div class="pad">
          <h3>Categories:</h3>
          <ul>
            <li><a class="current" href="#">Home</a></li>
            <li><a href="#">Alertas</a></li>
            <li><a href="#">Terremotos</a></li>
          </ul>
          <h3>Directory</h3>
          <p>some text.</p>
        </div>
      </div>
      <div id="left_side">
        <div class="intro">
          <div class="pad">Daily summary of seismic movements in national territory, updated style blog <br>
            <a href="#">Download</a>&nbsp; | &nbsp;<a href="#">Read more...</a>
          </div>
        </div>

<!--         <div class="mpart">
          <h2>Resumen del {{ fecha }}</h2>
          <h3>Publicado el {{ fecha }} en <a href="#">Sismología Chile</a></h3>
          <div class="card" style="width: 18rem;">
            <!-- Contenido de la tarjeta -->
  <!--         </div>
          <div class="intro">
            <div class="pad">
              <div class="terminal">
                {% for post in posts %}
                <li>{{ post.title }} - {{ post.created_at }}</li>
                {% empty %}
                <li>No hay posts disponibles.</li>
                {% endfor %}
              </div>
            </div>
          </div>
        </div> --> -->

        {% for post in posts %}
        <div class="mpart">
          <h2>Resumen del {{ post.created_at }}</h2>
          <h3>Publicado el {{ post.created_at }} en <a href="#">Sismología Chile</a></h3>
          <div class="card" style="width: 18rem;">
            <div class="intro">
              <div class="pad">
                <div class="terminal">
                  <h5 class="card-title">{{ post.title }}</h5>
                  <p class="card-text">{{ post.summary }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% empty %}
        <p>No hay posts disponibles.</p>
        {% endfor %}


        <div class="mpart">
          <h2>Resumen del {{ fecha }}</h2>
          <h3>Publicado el {{ fecha }} en <a href="#">Sismología Chile</a></h3>
          <div class="card" style="width: 18rem;">
            <!-- Contenido de la tarjeta -->
          </div>
          <div class="intro">
            <div class="pad">
              <div class="terminal">
                {% for post in posts %}
                <li>{{ post.title }} - {{ post.created_at }}</li>
                {% empty %}
                <li>No hay posts disponibles.</li>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>


        <!--           <p>Aditional info:</p>
          <blockquote>
            <p>Posted date: 15, Mayo, 2024 - 23:45 </p>
          </blockquote> -->
        <!--           <div class="date"><a href="#">Comments (5)</a></div> -->
        <div id="footer">
          <div class="right">&copy; Copyright 2024, Your Website - Design: <a href="">Free
              Css Templates</a></div>
          <a href="#">Home</a> - <a href="http://validator.w3.org/check?uri=referer" title="Validate">XHTML</a> - <a
            href="http://jigsaw.w3.org/css-validator/check/referer" title="Validate">CSS</a>
        </div>
      </div>
</body>

</html>